<body>
  <div class="callout-element-wrap">
    <div class="callout-element grid grid--1x2">
      <div>
        <h3 class="callout__header">Ready To Get Started?</h3>
        <p class="callout__description">
          Choose the hosting provider that helps you start easy, build fast, and
          grow strong! It’s risk-free with our 14-day money back guarantee.
        </p>
      </div>
      <button class="btn btn--secondary btn--block">Get Started</button>
    </div>
    <div class="callout-element__background"></div>
  </div>
</body>
